main {
    width: 99vw;
    height: 100vh;

    flex-direction: column;
    align-items: center;
}

main .header {
    width: 90%;

    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

main .tittle {
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

main .header i {
    font-size: 28px;

    position: relative;
    cursor: pointer;
}

main .header .cartIcon span {
    width: 25px;
    height: 25px;

    background: var(--orange);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 18px;

    display: none;    
    
    position: absolute;
    top: -10px;
    right: -10px;
}

main .header .cartIcon span:hover {
    background: var(--orange-hover);
}

main .content {
    margin-top: 5rem;
    grid-template-columns: repeat(3, auto);
    grid-gap: 35px;
}

/* -- Models -- */

.models {
    display: none;
}

/* -- Pizza Item -- */

.pizzaItem {
    width: 25vw;
    height: 400px;
    min-width: 250px;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: .8;
    transition: opacity .2s;
}

.pizzaItem:hover {
    opacity: 1;
}

.pizzaItem a h1:hover {
    background: var(--orange-hover);
}

.pizzaItem a {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.pizzaItem a .pizzaImg img{
    width: 250px;
    height: 250px;

    box-shadow: 0px 0px 30px -7px #000000;
    border-radius: 200px;

    transition: opacity .3s, width .5s, height .5s;
}

.pizzaItem a .pizzaImg img:hover {
    width: 270px;
    height: 270px;
}

.pizzaItem a h1 {
    width: 50px;
    height: 50px;
    margin-top: -40px; 
    
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 36px;

    border-radius: 50%;
    background: var(--orange);

    z-index: 2;
}

.pizzaItem .pizzaPrice {
    font-weight: lighter;
    font-family: var(--domine);
}

.pizzaItem .pizzaName {
    margin: .5rem;
}

.pizzaItem .pizzaDescription {
    width: 300px;

    font-weight: lighter;
    font-family: var(--domine);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}

/* -- Cart Item -- */

.cartItem {
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.cartItem img {
    width: 80px;
    height: 80px;
}

.cartItem .cartPizzaName {
    font-size: 20px;
    font-family: var(--domine);
}

.cartItem .cartQuantityArea {
    height: 30px;
    margin: 0 3rem;

    align-items: center;

    background: var(--second-bg);
    border-radius: 20px;
}

.cartItem .cartQuantityArea .removeQuantity, .addQuantity{
    padding: 0 15px;

    color: var(--text-color);
    font-size: 24px;
    font-weight: lighter;
    
    background: transparent;
    border: 0;

    outline: none;
    cursor: pointer;
}

/* -- Pizza Modal Info -- */

.pizzaInfoModal {
    width: 100%;
    height: 100%;

    background-color:rgba(255, 255, 255, 0.5);

    display:none;
    position: fixed;
    visibility: hidden;
    opacity: 0;

    z-index: 3;

    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;

    transition: all ease .5s;
}

.pizzaInfoModal .mobileCloseModal {
    margin-bottom: 1rem;

    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;

    cursor: pointer;
    display: none;
}

.modalContent {
    width: 900px;
    height: 430px;

    background: var(--main-bg);
    border-radius: 20px;
    overflow-y: auto;

    grid-template-columns: 1fr 1fr;
    
    align-items: center;
}

.modalContent img {
    width: 20vh;
    height: 20vh;
    min-width: 400px;
    min-height: 400px;

    margin: 0 auto;
}

.modalContent .modalInfo {
    height: 80%;

    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .pizzaDescription {
    font-weight: lighter;
    font-family: var(--domine);
    font-size: 14px;
    line-height: 1.4;

    color: var(--text-color);
    opacity: .7;
}

.modalContent .modalInfo .pizzaSizeArea {
    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .pizzaSizeArea h2 {
    margin-bottom: .5rem;
    font-family: var(--domine);
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--text-color);
    opacity: .5;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize {
    width: 19vw;
    max-width: 370px;
    min-width: 350px;
    height: 40px;

    background: var(--second-bg);
    border-radius: 20px !important;

    justify-content: center;
    align-content: center;

    overflow: hidden;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize {
    width: 133.3px;

    align-items: center;
    justify-content: center;

    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize h3 {
    font-family: var(--domine);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize span {
    margin-left: 4px;
    font-size: 11px;
    font-weight: lighter;
    font-family: var(--domine);
    color: var(--text-color)
}

.modalContent .modalInfo .priceArea {
    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .priceArea h2 {
    margin-bottom: .5rem;
    font-family: var(--domine);
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--text-color);
    opacity: .5;
}

.modalContent .modalInfo .priceArea .priceInfo h1 {
    width: 150px;
    
    font-family: var(--domine);
    font-size: 28px;
    letter-spacing: 3px; 
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn {
    height: 30px;
    margin: 0 3rem;

    align-items: center;

    background: var(--second-bg);
    border-radius: 20px;
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn .lessQnt, .moreQnt{
    padding: 0 15px;

    color: var(--text-color);
    font-size: 24px;
    font-weight: lighter;
    
    background: transparent;
    border: 0;

    outline: none;
    cursor: pointer;
}

.modalContent .modalInfo .exitBtn {
    width: 370px;
    justify-content: space-between;
}

.modalContent .modalInfo .exitBtn .addProduct {
    width: 240px;
    height: 50px;
    margin: .5rem 0;

    background: var(--orange);
    border: none;
    border-radius: 20px;

    color: white;
    font-family: var(--domine);
    text-transform: uppercase;
    letter-spacing: 1px;

    cursor: pointer;
    outline: none;
    transition: background .3s, color .3s;
}

.modalContent .modalInfo .exitBtn .addProduct:hover {
    background: var(--orange-hover);
}

.modalContent .modalInfo .exitBtn .closeProduct {
    font-family: var(--domine);
    text-transform: uppercase;
    letter-spacing: 1px;

    border: none;
    background: transparent;
    
    cursor: pointer;
    outline: none;
}

/* --- Cart --- */

.cart {
    width: 50vw;
    height: 400px;
    max-width: 450px;

    background: var(--second-bg);
    border-radius: 20px;

    flex-direction: column;
    
    display:none;
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top:100px;
    right: 5vw;

    overflow-y: scroll;
    transition: visibility .2s, display .2s, opacity .2s;
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart .cartHeader {
    width: 100%;
    height: 50px;
    margin-top: 1rem;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart .cartHeader h1 {
    font-family: var(--domine);
    font-size: 20px;
    letter-spacing: 2px;
}

.cart .container {
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
}

.cart .container h1 {
    text-align: center;
}





