main {
  width: 99vw;
  height: 100vh;

  flex-direction: column;
  align-items: center;
}

main .header {
  width: 90%;

  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

main .tittle {
  margin: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

main .header i {
  font-size: 28px;

  position: relative;
  cursor: pointer;
}

main .header .cartIcon span {
  width: 25px;
  height: 25px;

  background: var(--orange);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 18px;

  display: none;

  position: absolute;
  top: -10px;
  right: -10px;
}

main .header .cartIcon span:hover {
  background: var(--orange-hover);
}

main .content {
  margin-top: 5rem;
  grid-template-columns: repeat(3, auto);
  grid-gap: 35px;
}

/* -- Models -- */

.models {
  display: none;
}

/* -- Pizza Item -- */

.pizzaItem {
  width: 25vw;
  height: 400px;
  min-width: 250px;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0.8;
  transition: opacity 0.2s;
}

.pizzaItem:hover {
  opacity: 1;
}

.pizzaItem a h1:hover {
  background: var(--orange-hover);
}

.pizzaItem a {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
}

.pizzaItem a .pizzaImg img {
  width: 250px;
  height: 250px;

  box-shadow: 0px 0px 30px -7px #000000;
  border-radius: 200px;

  transition: opacity 0.3s, width 0.5s, height 0.5s;
}

.pizzaItem a .pizzaImg img:hover {
  width: 270px;
  height: 270px;
}

.pizzaItem a h1 {
  width: 50px;
  height: 50px;
  margin-top: -40px;

  justify-content: center;
  align-items: center;

  color: white;
  font-size: 36px;

  border-radius: 50%;
  background: var(--orange);

  z-index: 2;
}

.pizzaItem .pizzaPrice {
  font-weight: lighter;
  font-family: var(--domine);
}

.pizzaItem .pizzaName {
  margin: 0.5rem;
}

.pizzaItem .pizzaDescription {
  width: 300px;

  font-weight: lighter;
  font-family: var(--domine);
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

/* -- Cart Item -- */

.cartItem {
  padding: 0.5rem;
  margin: 0.4rem 1rem;

  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 0px 15px -6.5px #000000;
  background: var(--main-bg);
  border-radius: 20px;
}

.cartItem img {
  width: 80px;
  height: 80px;
}

.cartItem .pizzaInfo {
  width: 200px;
  margin-left: 0.5rem;

  flex-wrap: wrap;
  align-items: center;
}

.cartItem .cartPizzaName {
  font-size: 18px;
  font-family: var(--domine);
  text-align: start;
}

.cartItem .cartQuantityArea {
  height: 30px;
  margin-right: 1rem;

  align-items: center;

  background: var(--orange);
  border-radius: 20px;
}

.cartItem .cartQuantityArea .removeQuantity,
.addQuantity {
  padding: 0 15px;

  color: var(--white-text-color);
  font-size: 24px;
  font-weight: lighter;

  background: transparent;
  border: 0;

  outline: none;
  cursor: pointer;
}

.cartItem .cartQuantityArea .showQuantity {
    color: var(--white-text-color);
}

/* -- Pizza Modal Info -- */

.pizzaInfoModal {
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);

  display: none;
  position: fixed;
  visibility: hidden;
  opacity: 0;

  z-index: 3;

  background: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;

  transition: all ease 0.5s;
}

.pizzaInfoModal .mobileCloseModal {
  margin-bottom: 1rem;

  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;

  cursor: pointer;
  display: none;
}

.modalContent {
  width: 900px;
  height: 430px;

  background: var(--main-bg);
  border-radius: 20px;
  overflow-y: auto;

  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.modalContent img {
  width: 20vh;
  height: 20vh;
  min-width: 400px;
  min-height: 400px;

  margin: 0 auto;
}

.modalContent .modalInfo {
  height: 80%;

  flex-direction: column;
  justify-content: space-between;
}

.modalContent .modalInfo .pizzaDescription {
  font-weight: lighter;
  font-family: var(--domine);
  font-size: 14px;
  line-height: 1.4;

  color: var(--text-color);
  opacity: 0.7;
}

.modalContent .modalInfo .pizzaSizeArea {
  flex-direction: column;
  justify-content: space-between;
}

.modalContent .modalInfo .pizzaSizeArea h2 {
  margin-bottom: 0.5rem;
  font-family: var(--domine);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--text-color);
  opacity: 0.5;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize {
  width: 19vw;
  max-width: 370px;
  min-width: 350px;
  height: 40px;

  background: var(--second-bg);
  border-radius: 20px !important;

  justify-content: center;
  align-content: center;

  overflow: hidden;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize {
  width: 133.3px;

  align-items: center;
  justify-content: center;

  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize h3 {
  font-family: var(--domine);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize span {
  margin-left: 4px;
  font-size: 11px;
  font-weight: lighter;
  font-family: var(--domine);
  color: var(--text-color);
}

.modalContent .modalInfo .priceArea {
  flex-direction: column;
  justify-content: space-between;
}

.modalContent .modalInfo .priceArea h2 {
  margin-bottom: 0.5rem;
  font-family: var(--domine);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--text-color);
  opacity: 0.5;
}

.modalContent .modalInfo .priceArea .priceInfo h1 {
  width: 150px;

  font-family: var(--domine);
  font-size: 28px;
  letter-spacing: 3px;
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn {
  height: 30px;
  margin: 0 3rem;

  align-items: center;

  background: var(--second-bg);
  border-radius: 20px;
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn .lessQnt,
.moreQnt {
  padding: 0 15px;

  color: var(--text-color);
  font-size: 24px;
  font-weight: lighter;

  background: transparent;
  border: 0;

  outline: none;
  cursor: pointer;
}

.modalContent .modalInfo .exitBtn {
  width: 370px;
  justify-content: space-between;
}

.modalContent .modalInfo .exitBtn .addProduct {
  width: 240px;
  height: 50px;
  margin: 0.5rem 0;

  background: var(--orange);
  border: none;
  border-radius: 20px;

  color: white;
  font-family: var(--domine);
  text-transform: uppercase;
  letter-spacing: 1px;

  cursor: pointer;
  outline: none;
  transition: background 0.3s, color 0.3s;
}

.modalContent .modalInfo .exitBtn .addProduct:hover {
  background: var(--orange-hover);
}

.modalContent .modalInfo .exitBtn .closeProduct {
  font-family: var(--domine);
  text-transform: uppercase;
  letter-spacing: 1px;

  border: none;
  background: transparent;

  cursor: pointer;
  outline: none;
}

/* --- Cart --- */

.cart {
  width: 50vw;
  height: 600px;
  max-width: 450px;

  background: var(--second-bg);
  
  border-radius: 20px;

  flex-direction: column;

  display: none;
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 100px;
  right: 5vw;

  z-index: 5;
  overflow-y: scroll;
  transition: visibility 0.2s, display 0.2s, opacity 0.2s;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart .cartHeader {
  width: 100%;
  height: 50px;
  margin-top: 1rem;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart .cartHeader h3 {
  font-family: var(--domine);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;

  color: var(--text-color);
}

.cart .container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;

  overflow-y: auto;

  flex-direction: column;
}

.cart .container h1 {
  text-align: center;
  font-size: 24px;
}

.cart .finalData {
    width: 90%;
    margin-left: 1rem;
    padding-top: .7rem;

    border-top: 1px solid rgb(170, 170, 170);

    flex-direction: column;
    justify-content: space-around;
}

.cart .finalData .text {
  margin-left: 1rem;
}

.cart .finalData .text h2 {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 2px;
}

.cart .finalData .text .totalText {
  font-weight: bold;
}

.cart .finalData .buttonArea {
  width: 100%;
  height: 60px;
  align-items: flex-end ;
  justify-content: center;
}

.cart .finalData .buttonArea button {
    width: 240px;
    height: 40px;
    margin: 0.5rem 0;
  
    background: var(--orange);
    border: none;
    border-radius: 15px;
  
    color: white;
    font-family: var(--domine);
    text-transform: uppercase;
    letter-spacing: 1px;
  
    cursor: pointer;
    outline: none;
    transition: background 0.3s, color 0.3s;
}