* {
    box-sizing: border-box;
    padding: 0;
    align-items: 0;
    font-family: var(--raleway)
}

:root {
    --lora: 'Lora', serif;
    --raleway: 'Raleway', sans-serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hide {
    display: none;
    visibility: hidden;
}