main {
    width: 100%;

    flex-direction: column;
    align-items: center;
}

main .tittle {
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

main .content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;

    width: 80vw;
}

/* -- Models -- */

.models {
    display: none;
}

/* -- Left Menu -- */

.left-menu {
    width: 400px;
    height: 80vh;

    position: absolute;
    top: 100px;
    left: -392px;

    opacity: .5;

    background: var(--left-aside-bg);
    border: 2px solid var(--border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: .3s;
}

.left-menu-content {
    width: 400px;
    height: 80vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-menu-content::after {
    width: 80px;
    height: 50px;
    content: 'Carrinho';
    color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -78px;
    top: -2px;

    background: var(--left-aside-bg);
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 0 5px 5px 0;

    transition: .3s;
}

.dark-mode {
    height: 5vh;
    width: 300px;

    justify-content: center;
    align-items: center;
}

.dark-mode button {
    width: 150px;
    height: 25px;

    color: var(--text-color-dark);
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #cccccc;
    border-radius: 5px;
    border: 1px solid #bebebe;
    cursor: pointer;

    outline: none;
}

.cart-content {
    width: 320px;
    height: 65vh;
}

/* -- Pizza Item -- */

.pizza-item {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: .8;
    transition: opacity .2s;
}

.pizza-item:hover {
    opacity: 1;
}

.pizza-item a {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pizza-item a .pizza-img img{
    width: 250px;
    height: 250px;

    transition: opacity .3s;
}

.pizza-item a h1 {
    width: 50px;
    height: 50px;
    margin-top: -40px; 
    
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 36px;

    border-radius: 50%;
    background: var(--orange);

    z-index: 99;
}

.pizza-item .pizza-price {
    font-weight: lighter;
    font-family: var(--domine);
}

.pizza-item .pizza-name {
    margin: .5rem;
}

.pizza-item .pizza-description {
    width: 250px;

    font-weight: lighter;
    font-family: var(--domine);
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0, 0.5);
}
