main {
    width: 99vw;
    height: 100vh;

    flex-direction: column;
    align-items: center;
}

main .tittle {
    margin: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

main i {
    position: absolute;
    top: 40px;
    right: 40px;

    font-size: 28px;

    cursor: pointer;
}

main .content {
    margin-top: 5rem;
    grid-template-columns: repeat(3, 33.3%);
    grid-gap: 35px;
}

/* -- Models -- */

.models {
    display: none;
}

/* -- Left Menu -- */

.leftMenu {
    width: 400px;
    height: 80vh;

    position: absolute;
    top: 100px;
    left: -392px;

    opacity: .5;

    background: var(--left-aside-bg);
    border: 2px solid var(--border-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: .3s;
}

.leftMenuContent {
    width: 400px;
    height: 80vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.leftMenuContent::after {
    width: 80px;
    height: 50px;
    content: 'Carrinho';
    color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: -78px;
    top: -2px;

    background: var(--left-aside-bg);
    border-top: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-radius: 0 5px 5px 0;

    transition: .3s;
}

.darkMode {
    height: 5vh;
    width: 300px;

    justify-content: center;
    align-items: center;
}

.darkMode button {
    width: 150px;
    height: 25px;

    color: var(--text-color-dark);
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #cccccc;
    border-radius: 5px;
    border: 1px solid #bebebe;
    cursor: pointer;

    outline: none;
}

.cartContent {
    width: 320px;
    height: 65vh;
}

/* -- Pizza Item -- */

.pizzaItem {
    width: 25vw;
    height: 400px;
    min-width: 250px;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: .8;
    transition: opacity .2s;
}

.pizzaItem:hover {
    opacity: 1;
}

.pizzaItem a {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
}

.pizzaItem a .pizzaImg img{
    width: 250px;
    height: 250px;

    box-shadow: 0px 0px 30px -7px #000000;
    border-radius: 200px;

    transition: opacity .3s, width .5s, height .5s;
}

.pizzaItem a .pizzaImg img:hover {
    width: 270px;
    height: 270px;
}

.pizzaItem a h1 {
    width: 50px;
    height: 50px;
    margin-top: -40px; 
    
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 36px;

    border-radius: 50%;
    background: var(--orange);

    z-index: 2;
}

.pizzaItem .pizzaPrice {
    font-weight: lighter;
    font-family: var(--domine);
}

.pizzaItem .pizzaName {
    margin: .5rem;
}

.pizzaItem .pizzaDescription {
    width: 300px;

    font-weight: lighter;
    font-family: var(--domine);
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}

/* -- Pizza Modal Info -- */

.pizzaInfoModal {
    width: 100vw;
    height: 100vh;

    background-color:rgba(255, 255, 255, 0.5);

    display:none;
    position: fixed;
    visibility: hidden;
    opacity: 0;

    z-index: 3;

    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;

    transition: all ease .5s;
}

.pizzaInfoModal .mobileCloseModal {
    margin-bottom: 1rem;

    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    display: none;
}

.modalContent {
    width: 900px;
    height: 430px;

    background: var(--main-bg);
    border-radius: 20px;

    grid-template-columns: 1fr 1fr;
    
    align-items: center;
}

.modalContent img {
    width: 40vh;
    height: 40vh;

    margin: 0 auto;
}

.modalContent .modalInfo {
    height: 80%;

    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .pizzaDescription {
    font-weight: lighter;
    font-family: var(--domine);
    font-size: 14px;
    line-height: 1.4;

    color: var(--text-color);
    opacity: .7;
}

.modalContent .modalInfo .pizzaSizeArea {
    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .pizzaSizeArea h2 {
    margin-bottom: .5rem;
    font-family: var(--domine);
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--text-color);
    opacity: .5;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize {
    width: 400px;
    height: 40px;

    background: var(--second-bg);
    border-radius: 20px !important;

    justify-content: center;
    align-content: center;

    overflow: hidden;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize {
    width: 133.3px;

    align-items: center;
    justify-content: center;

    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize h3 {
    font-family: var(--domine);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.modalContent .modalInfo .pizzaSizeArea .pizzaChooseSize .pizzaSize span {
    margin-left: 4px;
    font-size: 11px;
    font-weight: lighter;
    font-family: var(--domine);
    color: var(--text-color)
}

.modalContent .modalInfo .priceArea {
    flex-direction: column;
    justify-content: space-between;
}

.modalContent .modalInfo .priceArea h2 {
    margin-bottom: .5rem;
    font-family: var(--domine);
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;

    color: var(--text-color);
    opacity: .5;
}

.modalContent .modalInfo .priceArea .priceInfo h1 {
    font-family: var(--domine);
    font-size: 28px;
    letter-spacing: 3px;
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn {
    height: 30px;
    margin: 0 3rem;

    align-items: center;

    background: var(--second-bg);
    border-radius: 20px;
}

.modalContent .modalInfo .priceArea .priceInfo .qntBtn .lessQnt, .moreQnt{
    padding: 0 15px;

    color: var(--text-color);
    font-size: 24px;
    font-weight: lighter;
    
    background: transparent;
    border: 0;

    outline: none;
    cursor: pointer;
}

.modalContent .modalInfo .exitBtn {
    width: 370px;
    justify-content: space-between;
}

.modalContent .modalInfo .exitBtn .addProduct {
    width: 240px;
    height: 60px;

    background: var(--orange);
    border: none;
    border-radius: 20px;

    color: white;
    font-family: var(--domine);
    text-transform: uppercase;
    letter-spacing: 1px;

    cursor: pointer;
    outline: none;
    transition: background .3s, color .3s;
}

.modalContent .modalInfo .exitBtn .addProduct:hover {
    background: var(--orange-hover);
}

.modalContent .modalInfo .exitBtn .closeProduct {
    font-family: var(--domine);
    text-transform: uppercase;
    letter-spacing: 1px;

    border: none;
    background: transparent;
    
    cursor: pointer;
    outline: none;
}

